
{% include "header.html" %}

    <!-- bootstrap templates  -->
    <table class="table" id="first_table">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            {% for BookCategory in BookCategories.all %}
            <tr>
                <td>{{ BookCategory.id }}</td>
                <td>{{ BookCategory.name }}</td>
                <td>{{ BookCategory.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

      {% include "footer.html" %}
      